.App {
  max-width: 596px;
  margin: auto;
  text-align: center;
}

.field {
  min-width: 500px;
  min-height: 500px;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

