.App {
  max-width: 315px;
  margin: auto;
  text-align: center;
}

.field {
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

.dots {
  box-sizing: border-box;
  height: 9px;
  min-width: 9px;
  background: black;
}

.snake {
  background: white;
}

.food {
  background: pink;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.navigation-item {
  padding: 16px;
}

