body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  max-width: calc(9px * 35 + 1px * 2);
  text-align: center;
}

.field {
  display: flex;
  flex-wrap: wrap;
}

.dots {
  height: 9px;
  width: 9px;
  background: #0f1d1d;
}

.snake {
  background: white;
}

.food {
  background: pink;
}

